
# 数据库
DB:
  DEFAULT:
    DRIVER: "mysql"
    HOST: "192.168.8.99"
    PORT: "3306"
    DATABASE: "test"
    USERNAME: "root"
    PASSWORD: "1qaz2wsx"
    CHARSET: "utf8mb4"
    COLLATION: "utf8mb4_unicode_ci"
    PREFIX: ""
    LOG_MODE: true
    MAX_IDLE: 5
    MAX_OPEN: 10

Redis:
  Default:
    Host: "192.168.8.99"
    Auth: "1qaz2wsx"
    Port: 6379
    Db: 0
    Pool:
      Min_Connections: 1
      Max_Connections: 10
      Connect_Timeout: 10.0
      Wait_Timeout: 3.0
      Heartbeat: -1
      Max_Idle: 3
      Max_Idle_Time: 60
      Max_Conn_Lifetime: 10
      Wait: true